APP_PORT=3000
DB_HOST=classtrack-db
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
NODE_ENV=development